$primary-font: "Kode Mono", monospace;
$secondary-font: Arial, Helvetica, sans-serif;
$black-transparent: rgba(0, 0, 0, 0.59);
$white-transparent:rgba(255, 255, 255, 0.2);
$button-gradient: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 13, 255, 0.6));
$blue-blurry: 0px 0px 13px rgb(0, 8, 255); 
;

