@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.landing {
    background-image: url('../../assets/img/banner4.jpg');
    background-size: cover;
    background-position: center;
    height: calc(100vh - 63px);
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    &__center {
        text-align: center;
        padding: 2em;
        border-radius: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
    }
    &__title {
        @include great-vibes;
        font-size: 5em;
        text-shadow: rgb(254, 254, 254) 2px 2px 2px;
        max-width: 960px;
        font-weight: 400;
    }
    &__introduction {
        font-size: 2rem;
        max-width: 960px;
        text-shadow: rgb(255, 255, 255) 2px 2px 2px;
        font-weight: 500;
    }
}

.artist {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 50px 10%;
    background: #FDFFEE;
    overflow: hidden;
    &__photo img {
        width: 200px;
        margin-bottom: 10px;
        border-radius: 50%;
    }
    &__bio {
        h2 {
            font-size: 1.7em;
            margin: 20px 0;
        }
        p {
            font-size: 1.2em;
            margin: 10px 0;
        }
    }
}

.display {
    display: flex;
    justify-content: center;
    margin: 50px 0;
    img {
        width: 100%;
        max-width: 800px;
    }
}


@media screen and (min-width: 830px) {
    .landing {
        &__center {
            justify-content: center;
        }
        &__title {
            font-size: 7em;
        }
        &__introduction {
            font-size: 2.5em;
    
        }
    }
    .artist {
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        &__photo {
            background-color: white;
            padding: 5px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
            img {
                width: 300px;
                margin: 0 auto;
                border-radius: 0%;
            }
        }
        &__bio {
            width: 50%;
            h2 {
                font-size: 1.7em;
                margin: 20px 0;
            }
            p {
                font-size: 1.2em;
                margin: 10px 0;
            }
        }
    }    
    .display {
        margin: 100px 0;
    }     
}