.logo {
    border: 1px solid red;
    width: 2048px;
    height: 1152px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(15, 14, 24);
    color: white;
    margin: 0 auto;
    font-size: 50px;
    margin-bottom: 100px;
}

.underscore {
    color: red;
}