@use "../../styles/variables";

.footer {
    font-family: variables.$secondary-font;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10rem;
    background-color: rgb(219, 240, 202);
    &__text {
        font-size: 18px;
        margin: 0;
    }
}
